body
{
    margin: 30px;
    margin-top: 50px;
}

h1 
{
    font-family: sans-serif;
    font-weight: 400;
    margin-bottom: 30px;
}

h2
{
    color: crimson;
}

#shaded
{
    background-color: rgb(218, 236, 240);
    padding: 20px;
    padding-top: 10px;
    width: 60%;
}

table
{
    margin-top: 30px;
    margin-right: 10px;
}

th 
{
    text-align: left;
    width: 20%;  /* 5 columns, 20% each */
}

table, th, td, #result
{
    border: 1px solid rgb(163, 163, 163);
    border-collapse: collapse;
}


th
{
    padding: 5px;
    padding-top: 10px;
}

td
{
    padding: 10px;
}

#row0 
{
    background-color: #dddbdb;
}

input 
{
    width: 40%;
    padding: 10px;
    margin: 5px;
}

button
{
    padding: 10px 15px; 
    float: right;
    margin: 10px; 
    margin-top: 20px;
    background-color: crimson;
    color: white;
    border: none;
}

#result 
{
    width: 30%;
    padding: 10px;
}