body
{
    background-color: rgb(153, 7, 37);
}

#whiteback
{
    box-shadow: 10px 10px 8px 5px rgba(34, 34, 34, 0.178), -10px -10px 8px 5px rgba(34, 34, 34, 0.178);
    padding: 30px;
    margin: 50px;
    background-color: white;
    border-top-width: 30px;
    border-top-style: solid;
    border-top-color: rgba(34, 34, 34, 0.877);

    border-bottom-width: 30px;
    border-bottom-style: solid;
    border-bottom-color: rgba(34, 34, 34, 0.877);
}

h1 
{
    font-family: sans-serif;
    font-weight: 400;
    margin-bottom: 30px;
}

h2
{
    color: crimson;
}

#shaded
{
    background-color: rgb(218, 236, 240);
    padding: 20px;
    padding-top: 10px;
    width: 60%;
}

table
{
    margin-top: 30px;
    margin-right: 10px;
}

th 
{
    text-align: left;
    width: 20%;  /* 5 columns, 20% each */
}

table, th, td, #result
{
    border: 1px solid rgb(163, 163, 163);
    border-collapse: collapse;
}


th
{
    padding: 5px;
    padding-top: 10px;
}

td
{
    padding: 10px;
}

#row0 
{
    background-color: #dddbdb;
}

input 
{
    width: 40%;
    padding: 10px;
    margin: 5px;
}

button
{
    background-color: crimson;
    color: white;
    border: none;
}

button:hover
{
    background-color: rgb(177, 93, 93);
}

button.result
{
    padding: 10px 15px; 
    float: right;
    margin: 10px; 
    margin-top: 20px;
}

button.row
{
    margin-left: 0px;
    font-size: larger;
    margin: 2px; 
    margin-top: 12px;
}

#result 
{
    width: 30%;
    padding: 10px;
}

#rowlabel
{
    float: left;
    
}

#tooltip {
    visibility: hidden;
    color: black;
    opacity: 50%;
    font-size: x-small;
    font-weight: 100;
    font-family: sans-serif;
    position: relative;
    top: -30px;
    left: -50px;
    white-space: nowrap;
  }

  /* .weight:focus .tooltiptext {
    visibility: visible;
  } */
  /* This is parent child syntax, input field never has child*/

  /* <span class="tooltiptext">Weights must all add to one</span> */
  /* <span class="tooltiptext">Enter a fraction</span> */

  /* making the white, black, red -> purely decorative */

